/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# OS X Finder info
.DS_Store

# Jetbrains config files
# Covers all Jetbrains IDEs
.idea
